{%extends "base.html"%} {%block content%}

<section class="hero is-white is-bold is-small ">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container is-fluid ">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <strong>
                          <i class="em em-small_airplane"></i> Vimana <span class="tag is-rounded is-primary is-small">Alpha</span></strong>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                        <span> </span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
             
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">

               Admin
            </h1>
           


        </div>
    </div>

</section>
<section class="section">
        <div class="columns">
                <div class="column is-2">
                  <aside class="menu">
                      <div class="field">
                          <div class="control">
                              <div class="file has-name is-boxed">
                                    <label class="file-label">
                                      <input class="file-input"  id="fileOutput" type="file" name="trainImage">
                                      <span class="file-cta">
                                        <span class="file-icon">
                                          <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                          Choose a file as input
                                        </span>
                                      </span>
                                      
                             </label>
                          </div>
                        </div>
                      </div>
                      <div class="field">
                          <div class="control">
                        <input id="modelname" class="input" type="text" placeholder="Model Name-Optional">
                        </div>
                        </div>
                        <div class="field">
                            <div class="control">
                        <a class="button is-success is-large is-fullwidth" id="query">Query</a>
                            </div>
                        </div>
                       
                    </ul>
                
                  </aside>
    </div>
    <div class="column is-7">
          <h1 class="title has-text-centered">Results</h1>
          <hr>

          <h2 class="">
            <div class="is-size-6" id="result"></div>
          
          </h2>
    </div>

</section>



{%endblock content%}