{%extends "base.html"%} {%block content%}

<section class="hero is-white is-bold is-small ">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container is-fluid ">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <strong>
                            <i class="em em-star"></i> White Element <span class="tag is-rounded is-primary is-small">Alpha</span></strong>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                        <span> </span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
             
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">

               Tester
            </h1>
           


        </div>
    </div>

</section>
<section class="section">
        <div class="columns">
                <div class="column is-2" s>
            <aside class="menu">
                



                            <div class="file has-name is-boxed">
                                    <label class="file-label">
                                      <input class="file-input"  id="fileOutput" type="file" name="trainImage">
                                      <span class="file-cta">
                                        <span class="file-icon">
                                          <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                          Choose a file
                                        </span>
                                      </span>
                                      
                                    </label>
                                  </div>
                        <!-- <input type="file" class="input" id="fileOutput" name="file" multiple> -->
                        <a class="button is-info" id="commit">Commit</a>
                        <br>
                        <a class="button is-success" id="test">Test</a>
                        <br>
                        
                        
                    
                      
                    </ul>
                
                  </aside>
    </div>
    <section class="section">
        <div class="container">
          <h1 class="title">Results</h1>
          <h2 class="subtitle">
            <div class="is-size-1" id="result"></div>
          </h2>
        </div>
      </section>

    
    </div>
</section>



{%endblock content%}