{%extends "base.html"%} {%block content%}

<section class="hero is-white is-bold is-small ">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container is-fluid ">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <strong>
                            <i class="em em-star"></i> White Element <span class="tag is-rounded is-primary is-small">Alpha</span></strong>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
                        <span> </span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
             
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">

               Trustless AI Admin
            </h1>
           


        </div>
    </div>

</section>
<section class="section">
        <div class="columns">
                <div class="column is-2">
            <aside class="menu">
       
              
                            <div class="file has-name is-boxed">
                                    <label class="file-label">
                                      <input class="file-input"  id="fileOutput" type="file" name="trainImage">
                                      <span class="file-cta">
                                        <span class="file-icon">
                                          <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                          Choose a file as input
                                        </span>
                                      </span>
                                      
                                    </label>
                                  </div>
                        <!-- <input type="file" class="input" id="fileOutput" name="file" multiple> -->
                       
                        <br>
                        <a class="button is-success is-large is-fullwidth" id="commit">Commit</a>
                        <br>
                        
                        <a class="button is-dark is-large is-fullwidth" id="test">Test</a>
                        <br>
                       
                       
                        <ul class="menu-list">
                          {% for obj in active %}
                          <li>
                            <a class="is-active">Active Model: {{ obj.title }}</a>
                            <ul>
                              
                              <li><a>{{ obj.description }} </a></li>
                              
                              <li> <a>{{ obj.accuracy }}                         </a></li>
                              
                            </ul>
                          </li>
                          {% endfor %}
                      </ul>
                    
                      
                    </ul>
                
                  </aside>
    </div>
    <div class="column is-7">
          <h1 class="title has-text-centered">Results</h1>
          <hr>

          <h2 class="">
            <div class="is-size-6" id="result"></div>
          
          </h2>
    </div>

    <div class="column ">
            <h1 class="title">Models</h1>
            <a class="button" href="/add">Add New Model</a>
            <hr>
            {% for obj in model %}
                       <div class="card" style="max-height: 12em;">
                           <header class="card-header">
                             <p class="card-header-title has-text-centered">
                               {{ obj.title }}
                             </p>
                            
                           </header>
                           <div class="card-content">
                             <div class="content">
                               {{ obj.description }}
                             </div>
                           </div>
                           <footer class="card-footer">
                             <a href={{ obj.id }} class="card-footer-item">Make Active</a>
                            <p class="card-footer-item">Accuracy: <strong> {{ obj.accuracy }}</strong>%</p>
                           </footer>
                         </div>
                         <br>
           
           {% endfor %}
       
    </div>
  

    
    </div>
</section>



{%endblock content%}